In [1]:
import gower, random, re, requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
from sklearn.cluster import DBSCAN
from time import sleep, time
from tqdm.notebook import tqdm
from sklearn.cluster import KMeans
from matplotlib import cm
from sklearn.manifold import TSNE
from sklearn.datasets import make_blobs
from sklearn.metrics import silhouette_samples, silhouette_score
from scipy.cluster.hierarchy import linkage, fcluster, dendrogram
from pyclustering.cluster.kmedoids import kmedoids
from scipy.spatial.distance import pdist,squareform

In [ ]:
main_link = 'https://www.captainbook.gr/bookstore/year/2019?page='
for_p = soup.find_all('ul', 
                      class_='pagination justify-content-end')[0].find('li', 
                                                                        class_="page_item d-flex align-items-center")
max_pages = for_p.find_all('a')[-2].get_text()
books, price_old, price_new, price_discount, publisher, links = [], [], [], [], [], []
for page in tqdm(range(1, int(max_pages)+1)):
    response = requests.get(main_link+str(page), headers = headers)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        titles = soup.find_all('h1')
        prices = soup.find_all('div', class_='price p-0 d-flex mb-2 align-items-center justify-content-between')
        publ = soup.find_all('h2', class_='p-0')
        for i in range(12):
            try: 
                price_old.append(prices[i].find_all('span', class_="old-price p-0")[0].get_text().strip())
            except:
                price_old.append(np.nan)
            try:
                price_new.append(prices[i].find_all('span', class_="new-price p-0")[0].get_text().strip())
            except:
                price_new.append(np.nan)
            try:
                price_discount.append(prices[i].find_all('small', class_="p-0")[0].get_text().strip())
            except:
                price_discount.append(np.nan)
            try:
                publisher.append(publ[i].get_text().strip())
            except:
                publisher.append(np.nan)
            try:
                books.append(titles[i].get_text().strip())
            except:
                books.append(np.nan)
            try:
                links.append(titles[i].find('a', class_="p-0 js-title productClickTracker").get('href'))
            except:
                links.append(np.nan)
    else:
        print('You got caught!')
        break
    sleep(random.random())

In [ ]:
df2019 = pd.DataFrame({'Title': books,
                       'Price_Old': price_old,
                       'Discount': price_discount,
                       'Price_New': price_new,
                       'Publisher': publisher,
                       'Link': links,
                       'Year': 2019})
df2019

In [ ]:
df2019.info()

In [ ]:
df2019.to_csv('Books2019.csv', index = False)

In [ ]:
main_link = 'https://www.captainbook.gr/bookstore/year/2018?page='
headers = {'User-agent': ''}
response = requests.get(main_link, headers = headers)
if response.status_code == 403:
    print('you got cought!')
soup = BeautifulSoup(response.content, 'html.parser')
for_p = soup.find_all('ul', 
                      class_='pagination justify-content-end')[0].find('li', 
                                                                        class_="page_item d-flex align-items-center")
max_pages = for_p.find_all('a')[-2].get_text()
books, price_old, price_new, price_discount, publisher, links = [], [], [], [], [], []
for page in tqdm(range(1, int(max_pages)+1)):
    response = requests.get(main_link+str(page), headers = headers)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        titles = soup.find_all('h1')
        prices = soup.find_all('div', class_='price p-0 d-flex mb-2 align-items-center justify-content-between')
        publ = soup.find_all('h2', class_='p-0')
        for i in range(12):
            try: 
                price_old.append(prices[i].find_all('span', class_="old-price p-0")[0].get_text().strip())
            except:
                price_old.append(np.nan)
            try:
                price_new.append(prices[i].find_all('span', class_="new-price p-0")[0].get_text().strip())
            except:
                price_new.append(np.nan)
            try:
                price_discount.append(prices[i].find_all('small', class_="p-0")[0].get_text().strip())
            except:
                price_discount.append(np.nan)
            try:
                publisher.append(publ[i].get_text().strip())
            except:
                publisher.append(np.nan)
            try:
                books.append(titles[i].get_text().strip())
            except:
                books.append(np.nan)
            try:
                links.append(titles[i].find('a', class_="p-0 js-title productClickTracker").get('href'))
            except:
                links.append(np.nan)
    else:
        print('You got caught!')
        break
    sleep(random.random())

In [ ]:
df2018 = pd.DataFrame({'Title': books,
                       'Price_Old': price_old,
                       'Discount': price_discount,
                       'Price_New': price_new,
                       'Publisher': publisher,
                       'Link': links,
                       'Year': 2018})
df2018

In [ ]:
df2018.info()

In [ ]:
df2018.to_csv('Books2018.csv', index = False)

In [ ]:
main_link = 'https://www.captainbook.gr/bookstore/year/2016?page='
headers = {'User-agent': ''}
response = requests.get(main_link, headers = headers)
if response.status_code == 403:
    print('you got cought!')
soup = BeautifulSoup(response.content, 'html.parser')
for_p = soup.find_all('ul', 
                      class_='pagination justify-content-end')[0].find('li', 
                                                                        class_="page_item d-flex align-items-center")
max_pages = for_p.find_all('a')[-2].get_text()
books, price_old, price_new, price_discount, publisher, links = [], [], [], [], [], []

In [ ]:
for page in tqdm(range(1, int(max_pages)+1)):
    response = requests.get(main_link+str(page), headers = headers)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        titles = soup.find_all('h1')
        prices = soup.find_all('div', class_='price p-0 d-flex mb-2 align-items-center justify-content-between')
        publ = soup.find_all('h2', class_='p-0')
        for i in range(12):
            try: 
                price_old.append(prices[i].find_all('span', class_="old-price p-0")[0].get_text().strip())
            except:
                price_old.append(np.nan)
            try:
                price_new.append(prices[i].find_all('span', class_="new-price p-0")[0].get_text().strip())
            except:
                price_new.append(np.nan)
            try:
                price_discount.append(prices[i].find_all('small', class_="p-0")[0].get_text().strip())
            except:
                price_discount.append(np.nan)
            try:
                publisher.append(publ[i].get_text().strip())
            except:
                publisher.append(np.nan)
            try:
                books.append(titles[i].get_text().strip())
            except:
                books.append(np.nan)
            try:
                links.append(titles[i].find('a', class_="p-0 js-title productClickTracker").get('href'))
            except:
                links.append(np.nan)
    else:
        print('You got caught!')
        break
    sleep(random.uniform(0, 3))

In [ ]:
df2016 = pd.DataFrame({'Title': books,
                       'Price_Old': price_old,
                       'Discount': price_discount,
                       'Price_New': price_new,
                       'Publisher': publisher,
                       'Link': links,
                       'Year': 2016})
df2016

In [ ]:
df2016 = pd.read_csv('Books2016.csv')
df2016.info()

In [ ]:
df2016.head()

In [ ]:
category = []
ISBN = []
pages = []
binding = []

In [ ]:
headers = {'User-agent': ''}

In [ ]:
for link in tqdm(df2016.iloc[366:, 5]):
    try:
        response = requests.get(link, headers = headers)
        if response.status_code == 200:
            soup1 = BeautifulSoup(response.content, 'html.parser')
            body = soup1.find('div', class_ = 'fading col-md-12 p-0').find_all('div', class_ = 'td')
            body1 = soup1.find_all('li', class_ = 'py-2 d-flex justify-content-between')
            try:
                count1 = 0
                count2 = 0
                count3 = 0
                count4 = 0
                for bod in body1:
                    if re.search(r'Κατηγορίες', str(bod)):
                        category.append(bod.get_text().strip().split('\n')[-1])
                        count1 += 1
                    elif re.search(r'ISBN', str(bod)):
                        ISBN.append(bod.get_text().strip().split('\n')[-1])
                        count2 += 1
                for i in range(len(body)):
                    if re.search(r'Σελίδες', str(body[i])):
                        pages.append(body[i+1].get_text().strip())
                        count3 += 1
                    elif re.search(r'Δέσιμο', str(body[i])):
                        binding.append(body[i+1].get_text().strip())
                        count4 += 1
                if count1 == 0:
                    category.append(np.nan)
                if count2 == 0:
                    ISBN.append(np.nan)
                if count3 == 0:
                    pages.append(np.nan)
                if count4 == 0:
                    binding.append(np.nan)
            except:
                saved = link
                print('dafuq')
                break
        else:
            saved = link
            print('You got caught!')
            break
    except:
        category.append(np.nan)
        ISBN.append(np.nan)
        pages.append(np.nan)
        binding.append(np.nan)
        print('There is a problem here!')
    sleep(random.uniform(1, 3))

In [ ]:
print(len(category), len(ISBN), len(pages), len(binding), len(df2016))

In [ ]:
df2016['Category'] = category
df2016['ISBN'] = ISBN
df2016['Pages'] = pages
df2016['Binding'] = binding
df2016.head()

In [ ]:
df2016.info()

In [ ]:
df2016.to_csv('Books2016.csv', index = False)

In [2]:
df = pd.read_csv('Books_finalcleaned.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33022 entries, 0 to 33021
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  33022 non-null  int64
 1   Title       33022 non-null  object
 2   Price_Old   33022 non-null  float64
 3   Discount    33022 non-null  float64
 4   Price_New   33022 non-null  float64
 5   Author      33022 non-null  object
 6   Link        33022 non-null  object
 7   Year        33022 non-null  int64
 8   Category    33022 non-null  object
 9   ISBN        33022 non-null  int64
 10  Pages       33022 non-null  float64
 11  Binding     33022 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 3.0+ MB

In [3]:
df.head()

,Unnamed: 0,Title,Price_Old,Discount,Price_New,Author,Link,Year,Category,ISBN,Pages,Binding
0,2,Οι 5 γλώσσες της αγάπης - 2η έκδοση,15.50,0.26,11.47,Gary Chapman,https://www.captainbook.gr/book/oi-5-glosses-t...,2016,['Αυτοβοήθεια'],9789604617005,240.0,Χαρτόδετο
1,3,Universo Gramatical Version…,27.75,0.11,24.70,María Jesús Blázquez Lozano,https://www.captainbook.gr/book/universo-grama...,2016,['Ισπανικά'],9788498484410,320.0,Μαλακό εξώφυλλο
2,5,MIRRORLESS PHOTOGRAPHY,15.00,0.10,13.50,Βαγγέλης Δελέγκος,https://www.captainbook.gr/book/mirrorless-pho...,2016,['Φωτογραφία'],9789608152236,164.0,Χαρτόδετο
3,6,Τριγυρνώ μες στην Αθήνα,12.00,0.11,10.68,Πέτρος Χριστούλιας,https://www.captainbook.gr/book/trigurno-mes-s...,2016,['Χόμπι'],9786185116224,80.0,Σκληρό εξώφυλλο
4,8,Θαυματουργά Μάντρας,22.00,0.10,19.80,Pandit Gopal Sharma,https://www.captainbook.gr/book/thaumatourga-m...,2016,"['Φιλοσοφία', 'Κοινωνιολογία', 'Θρησκεία']",9789604304264,208.0,Χαρτόδετο

In [4]:
print(set(df['Year']))

{2016, 2017, 2018, 2019, 2020}

In [5]:
len(set(df['Year']))

5

In [6]:
print(set(df['Category']))

{"['ΕφηβικήΛογοτεχνία']", "['Πολιτική', 'Οικονομία']", "['Εθνολογία']", "['Χάρτες']", "['Ημερολόγια', 'Σημειωματάρια']", "['Αγγλικά']", "['Φωτογραφία']", "['Μυθολογία']", "['Αυτοβοήθεια']", "['Χάρτες', 'Οδηγοί', 'Ταξίδια']", "['ΤαξιδιωτικήΛογοτεχνία']", "['ΑνατολικήΣκέψη']", "['Αρχιτεκτονική']", "['Μυθιστόρημα']", "['Διατροφή']", "['Νομική']", "['ΑρχαίαΕλληνικήΓραμματεία']", "['Ανθρωπολογία']", "['Πληροφορική']", "['Δοκίμια']", "['ΑρχαίοιΈλληνεςΦιλόσοφοι']", "['ΕλεύθεροςΧρόνος', 'Μαγειρική', 'Αθλητισμός']", "['Νουβέλα']", "['ΕκλαϊκευμένηΕπιστήμη']", "['Θέατρο']", "['ΜεταφρασμένηΠοίηση']", "['ΕργασιακέςΣχέσεις']", "['Ψυχιατρική']", "['Μεταφυσική', 'Αποκρυφισμός']", "['Ιστορία']", "['Δραστηριοτήτων', 'Διαδραστικά']", "['Τέχνες', 'Θέατρο', 'Κινηματογράφος']", "['Γλωσσολογία']", "['ΚλασικήΠεζογραφία']", "['Διήγημα']", "['ΠροσχολικήΗλικία']", "['Χριστιανισμός']", "['Οικονομικά']", "['Σχέσεις', 'Γάμος', 'Οικογένεια']", "['ΚοινωνικάΠροβλήματα']", "['Εκπαίδευση', 'Παιδαγωγική']", "['Αυτοβιογραφίες']", "['Νεότερη&ΣύγχρονηΕλληνικήΙστορία']", "['Παραμύθια']", "['ΚλασικήΦιλολογία']", "['Κρασί', 'Ποτό']", "['ΕυρωπαϊκήΦιλοσοφία']", "['ΣχολικάΒοηθήματα', 'ΞένεςΓλώσσες']", "['ΕλληνικήΓλώσσα']", "['ΤαξιδιωτικοίΟδηγοί']", "['Ψυχολογία', 'Ψυχανάλυση']", "['Γαλλικά']", "['Βιογραφίες']", "['ΕλληνικήΕπανάσταση']", "['ΕλληνικήΠοίηση']", "['Μουσική']", "['Μύθοι']", "['Γυμνάσιο']", "['Ιατρική']", "['Ζωγραφική']", "['ΙσότηταΦύλων']", "['Παιδικά', 'Εφηβικά']", "['ΠαγκόσμιαΙστορία']", "['Φυσική', 'Μαθηματικά']", "['ΒυζαντινήΓραμματεία']", "['Βυζάντιο']", "['Αθλητισμός']", "['ΓιαΜωρά']", "['ΕναλλακτικέςΘεραπείες']", "['Φυσικές&ΘετικέςΕπιστήμες', 'Τεχνικά']", "['Ισπανικά']", "['Ξενόγλωσσα']", "['Λεξικά&Εγκυκλοπαίδειες']", "['ΛατινικήΓραμματεία']", "['Μαρτυρίες']", "['Λύκειο']", "['Πεζογραφία']", "['Γερμανικά']", "['Φιλοσοφία', 'Κοινωνιολογία', 'Θρησκεία']", "['Δημοτικό']", "['Χόμπι']", "['ΓενικάΛεξικά']", "['Συνταγές']", "['Κόμιξ', 'GraphicNovels']", "['Χορός']", "['Ποίηση']", "['Προϊστορία']", "['Κινηματογράφος']"}

In [7]:
len(set(df['Category']))

88

In [8]:
print(set(df['Binding']))

{'Διαστάσεις:', 'Μαλακό εξώφυλλο', 'eBook', 'Σετ προϊόντων', 'CD-Extra', 'Βιβλίο (άγνωστο δέσιμο)', 'Παιδικό σε χοντρό χαρτόνι', 'Χαρτόδετο', 'Δερματόδετο', 'Κάρτες', 'Σετ προιόντων σε κουτί', 'Άγνωστο Δέσιμο', 'Ψηφιακή μεταφόρτωση', 'Σπιράλ', 'Παιδικό βιβλίο με αφρώδες εξώφυλλο', 'Μεγάλης διάστασης βιβλίο', 'Πανόδετο', 'Βιβλίο άλλου δεσίματος', 'Ημερολόγιο', 'Αδιάβροχο βιβλίο', 'Αλμπουμ', 'Σκληρόδετο', 'Βιβλίο', 'Σετ προιόντων σε σελοφάν κενού', 'Μαλακό Εξώφυλλο', 'Ηχητικό σε CD', 'Αφίσα', 'Άδετο', 'Σκληρό εξώφυλλο', 'Υφασμάτινο βιβλίο', 'Σετ προιόντων', 'Σετ προϊόντων σε κουτί', 'Σπειροειδές', 'Καινοτόμο βιβλίο', 'Καρφίτσα / Brochure', 'EPUB'}

In [9]:
len(set(df['Binding']))

36

In [10]:
df.nunique()

Unnamed: 0    11826
Title         31436
Price_Old      1278
Discount         36
Price_New      2109
Author        18744
Link          33022
Year              5
Category         88
ISBN          33003
Pages          1037
Binding          36
dtype: int64

In [11]:
data_meta = pd.DataFrame(df.nunique(), columns = ['num'], index = None).reset_index()
data_meta.columns = ['name', 'num']
data_meta['type'] = 'categorical'
data_meta

          name    num         type
0   Unnamed: 0  11826  categorical
1        Title  31436  categorical
2    Price_Old   1278  categorical
3     Discount     36  categorical
4    Price_New   2109  categorical
5       Author  18744  categorical
6         Link  33022  categorical
7         Year      5  categorical
8     Category     88  categorical
9         ISBN  33003  categorical
10       Pages   1037  categorical
11     Binding     36  categorical

In [12]:
data_meta.loc[(~data_meta['name'].isin(['Binding', 'Category'])), 'type'] = 'numerical'
data_meta.loc[data_meta['name'].isin(['Author', 'Title', 'ISBN', 'Link']),'type'] = 'claim'
data_meta

          name    num         type
0   Unnamed: 0  11826    numerical
1        Title  31436        claim
2    Price_Old   1278    numerical
3     Discount     36    numerical
4    Price_New   2109    numerical
5       Author  18744        claim
6         Link  33022        claim
7         Year      5    numerical
8     Category     88  categorical
9         ISBN  33003        claim
10       Pages   1037    numerical
11     Binding     36  categorical

In [13]:
categorical_features = list(data_meta.loc[data_meta['type'] == 'categorical', 'name'])
categorical_features

['Category', 'Binding']

In [14]:
numerical_features = list(data_meta.loc[data_meta['type'] == 'numerical', 'name'])
numerical_features

['Unnamed: 0', 'Price_Old', 'Discount', 'Price_New', 'Year', 'Pages']

In [15]:
print([True if x in categorical_features else False for x in df.columns])

[False, False, False, False, False, False, False, False, True, False, False, True]

In [16]:
%%time
gd = gower.gower_matrix(df)#, cat_features = [True if x in categorical_features else False for x in df.columns])

Wall time: 38min 17s

In [17]:
%%time
gdv = squareform(gd, force = 'tovector')
gdv

Wall time: 2min 36s

array([0.4454172 , 0.35721394, 0.4410597 , ..., 0.38126096, 0.4323365 ,
       0.44953072], dtype=float32)

In [18]:
%%time
Z = linkage(gdv, method = 'complete')
Z

Wall time: 6min 58s

array([[2.64690000e+04, 2.64700000e+04, 8.33396614e-02, 2.00000000e+00],
       [2.64630000e+04, 2.64640000e+04, 8.33396614e-02, 2.00000000e+00],
       [2.64610000e+04, 2.64620000e+04, 8.33396614e-02, 2.00000000e+00],
       ...,
       [6.60260000e+04, 6.60330000e+04, 7.19772339e-01, 7.93000000e+02],
       [6.60380000e+04, 6.60390000e+04, 7.70575225e-01, 3.22290000e+04],
       [6.60400000e+04, 6.60410000e+04, 8.23979259e-01, 3.30220000e+04]])

In [20]:
Z_df = pd.DataFrame(Z, columns = ['id1', 'id2', 'dist', 'n'])
Z_df

           id1      id2      dist        n
0      26469.0  26470.0  0.083340      2.0
1      26463.0  26464.0  0.083340      2.0
2      26461.0  26462.0  0.083340      2.0
3       6586.0   6587.0  0.083340      2.0
4        569.0    570.0  0.083340      2.0
...        ...      ...       ...      ...
33016  66035.0  66037.0  0.688154  22018.0
33017  66034.0  66036.0  0.716689  10211.0
33018  66026.0  66033.0  0.719772    793.0
33019  66038.0  66039.0  0.770575  32229.0
33020  66040.0  66041.0  0.823979  33022.0

[33021 rows x 4 columns]

In [ ]:
%%time
fig, axs = plt.subplots(1, 1, figsize = (25, 5))

In [ ]:
%%time
dn = dendrogram(Z, truncate_mode = 'level', p = 5, show_leaf_counts = True, ax = axs);

In [ ]:
print(len(dn['leaves']))